In [1]:
#DB modules 
from db import database as D
from db import compilation as C

#python modules
import pandas as pd
from pprint import pprint
import sys
sys.path.append('/vol01/active_projects/anthony/git/DataStore/db')

you are now accessing the db named HBNL3

In [2]:
import erp_peaks_projection as EP

# SIMPLE QUERYING
    > 1 tuple (uID) and 3 lists (experiment, condition_peak, channel_lst)
       a) experiment -- always lowercase 
       b) condition_peak -- condition always lowercase, peak uppercase, & underscore-delimited 
       c) channel_lst -- always uppercase

In [3]:
experiments = ['aod']
measures = ['lat']
uIDs = ('40025020_c', '40039010_b')
condition_peaks = ['t_P3', 't_N1']
channel_lst = ['C3', 'C4', 'CZ']

In [4]:
EP.create_mtdf(uIDs, experiments=experiments, cond_peaks=condition_peaks, measures=measures, channels=channel_lst)

experiment            aod
condition               t
peak                   N1                         P3
channel                C3       C4       CZ       C3       C4       CZ
measures              lat      lat      lat      lat      lat      lat
ID       session
40025020 c         62.500   58.594   62.500  339.844  335.938  339.844
40039010 b        132.812  132.812  136.719  332.031  335.938  320.312

# INTERMEDIATE QUERYING -- dictionary of lists (DOL) 

    > In DOL: key = experiment name
              value = list of condition_peaks
              
    > can add a channel argument to get SAME CHANNELS for all condition_peaks
        > if you want different channels for different condition_peaks see ADVANCED QUERYING
        
    > code that's commented out are examples of other ways arguments can be combined

In [5]:
erp_condpeaks_test = {'aod': ['nt_N1', 'nt_P2']}
channel_lst = ['AF1', 'AF2', 'AFZ']
uIDs = ('40025020_c', '40039010_b')
measures = ['amp', 'lat']

EP.create_mtdf(uIDs, exp_cond_peaks = erp_condpeaks_test, channels=channel_lst, measures=measures)
#EP.create_mtdf(uIDs, exp_cond_peaks = erp_condpeaks_test, channels=channel_lst)
#EP.create_mtdf(uIDs, exp_cond_peaks = erp_condpeaks_test)

experiment          aod                                                  \
condition            nt
peak                 N1                                              P2
channel             AF1             AF2             AFZ             AF1
measures            amp      lat    amp      lat    amp      lat    amp
ID       session
40025020 c       -2.237   82.031 -2.090   82.031 -2.749   82.031  5.259
40039010 b       -1.818  144.531 -1.322  140.625 -1.466  144.531 -1.339

experiment
condition
peak
channel                      AF2             AFZ
measures              lat    amp      lat    amp      lat
ID       session
40025020 c        179.688  4.642  179.688  4.396  179.688
40039010 b        179.688 -0.573  175.781 -0.688  175.781

# ADVANCED QUERYING (1 of 2)

    > use this if you want to analyze different channels for different condition peaks in the same experiment
        1) create_dict_of_lists() function creates a dictionary from 3 lists (experiment, cond_peaks, channel_lst)
            a) note at first pass all channels for all cond_peaks are identical 
       .....

In [6]:
experiment = ['vp3']
cond_peaks = ['nt_P3', 'nt_N1', 'nv_P3', 'nv_N1', 't_P3', 't_N1']
channel_lst = ['AF1', 'AF2', 'AF8']

peaks_dict = EP.create_dict_of_lists(experiment, cond_peaks, channel_lst)
pprint(peaks_dict)

{'vp3': [('nt', 'P3', ['AF1', 'AF2', 'AF8']),
         ('nt', 'N1', ['AF1', 'AF2', 'AF8']),
         ('nv', 'P3', ['AF1', 'AF2', 'AF8']),
         ('nv', 'N1', ['AF1', 'AF2', 'AF8']),
         ('t', 'P3', ['AF1', 'AF2', 'AF8']),
         ('t', 'N1', ['AF1', 'AF2', 'AF8'])]}

In [7]:
EP.create_mtdf(uIDs, exp_condpeaks_chans=peaks_dict)

experiment          vp3                                                  \
condition            nt
peak                 N1                                              P3
channel             AF1             AF2             AF8             AF1
measures            amp      lat    amp      lat    amp      lat    amp
ID       session
40025020 c       -3.051  144.531 -2.538  140.625 -1.747  136.719  2.363
40039010 b       -7.384  125.000 -7.338  125.000 -6.350  121.094  0.409

experiment                                  ...                            \
condition                                   ...         t
peak                                        ...        N1
channel                      AF2            ...       AF2             AF8
measures              lat    amp      lat   ...       amp      lat    amp
ID       session                            ...
40025020 c        210.938  2.131  210.938   ...    -1.800  132.812 -0.514
40039010 b        246.094  2.190  246.094   ...    -9.623  113.281 -5.648

experiment
condition
peak                           P3
channel                       AF1             AF2              AF8
measures              lat     amp      lat    amp      lat     amp      lat
ID       session
40025020 c        128.906   6.480  355.469  4.671  351.562   6.547  343.750
40039010 b        113.281  10.764  390.625  8.482  386.719  12.633  441.406

[2 rows x 36 columns]

# ADVANCED QUERYING (2 OF 2)

    .....
    2) use update_list_dict() function to update channels of interest for a specific 
       condition_peak
       a) note channel list was updated for t_N1 & t_P3

In [8]:
vp3_t_n1_lst = ['OZ', 'O1', 'O2']
updated1  = EP.update_list_dict(peaks_dict, 'vp3', 't', 'N1', vp3_t_n1_lst)
pprint(updated1)

{'vp3': [('nt', 'P3', ['AF1', 'AF2', 'AF8']),
         ('nt', 'N1', ['AF1', 'AF2', 'AF8']),
         ('nv', 'P3', ['AF1', 'AF2', 'AF8']),
         ('nv', 'N1', ['AF1', 'AF2', 'AF8']),
         ('t', 'P3', ['AF1', 'AF2', 'AF8']),
         ('t', 'N1', ['OZ', 'O1', 'O2'])]}

In [9]:
vp3_t_p3_lst = ['PZ', 'P1', 'P2']

updated2 = EP.update_list_dict(updated1, 'vp3', 't', 'P3', vp3_t_p3_lst)
pprint(updated2)

{'vp3': [('nt', 'P3', ['AF1', 'AF2', 'AF8']),
         ('nt', 'N1', ['AF1', 'AF2', 'AF8']),
         ('nv', 'P3', ['AF1', 'AF2', 'AF8']),
         ('nv', 'N1', ['AF1', 'AF2', 'AF8']),
         ('t', 'P3', ['PZ', 'P1', 'P2']),
         ('t', 'N1', ['OZ', 'O1', 'O2'])]}

In [10]:
uIDs = ('40025020_c', '40039010_b')

EP.create_mtdf(uIDs, exp_condpeaks_chans=updated2)

experiment          vp3                                                  \
condition            nt
peak                 N1                                              P3
channel             AF1             AF2             AF8             AF1
measures            amp      lat    amp      lat    amp      lat    amp
ID       session
40025020 c       -3.051  144.531 -2.538  140.625 -1.747  136.719  2.363
40039010 b       -7.384  125.000 -7.338  125.000 -6.350  121.094  0.409

experiment                                  ...                            \
condition                                   ...         t
peak                                        ...        N1
channel                      AF2            ...        O2              OZ
measures              lat    amp      lat   ...       amp      lat    amp
ID       session                            ...
40025020 c        210.938  2.131  210.938   ...     2.844  140.625  6.406
40039010 b        246.094  2.190  246.094   ...     0.122  171.875  2.460

experiment
condition
peak                           P3
channel                        P1               P2               PZ
measures              lat     amp      lat     amp      lat     amp      lat
ID       session
40025020 c        152.344  14.459  324.219  10.880  320.312  12.906  324.219
40039010 b        167.969  30.218  378.906  34.807  375.000  36.044  375.000

[2 rows x 36 columns]

# UTILITIES  (1 of 2)
    > argument compatibility

In [11]:
erp_condpeaks = {'aod': ['nt_N1', 'nt_P2'],
                 'vp3': ['nt_N1', 'nt_P3']}

ex = ['aod']
cp = ['t_P3', 't_N1']
ch = ['C3', 'C4', 'AF1', 'AF2']

EP.create_mtdf(uIDs, experiments=ex, cond_peaks=cp, exp_cond_peaks=erp_condpeaks)
#EP.create_mtdf(uIDs, experiments = erp_condpeaks_test, cond_peaks = erp_condpeaks_test)

Error: Incompatible argument combination.  Exp_cond_peaks & exp_condpeaks_chans should be dictionaries and would already contain experiment and condition_peak information

SystemExit: 1

/usr/local/anaconda3/envs/db/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2889: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

# UTILITIES (2 OF 2)
    > auto-fix incorrectly passed argument types -- only works for simple querying

In [ ]:
ex = 'aod'
cp = 't_P3', 't_N1'
ch = 'C3', 'C4', 'AF1', 'AF2'

create_mtdf(uIDs, experiments=ex, cond_peaks=cp, channels=ch)
#create_mtdf(uIDs, experiments = erp_condpeaks)